.page {
  background-color: #000000;
  color: #FFFFFF;
  max-width: 1280px;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 1px solid red; */
}
