.page {
  background-color: #000000;
  color: #FFFFFF;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
