.profile__characteristic {
  max-height: 22px;
  width: 336px;
  margin: 4px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 770px ) {
  .profile__characteristic  {
    width: 100%;
    min-height: 14px;
    text-align: center;
    margin-top: 7px;
    font-size: 14px;
    line-height: 17px;
  }
}
