.popup__button-saved {
  padding: 0;
  margin-top: 24px;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 770px) {
  .popup__button-saved {
    padding: 0;
    margin-top: 23px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
