.elements {
  padding: 0 200px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .elements {
    padding-left: 19px;
    padding-right: 19px;
  }
}
