.popup__button-saved {
  padding: 15px 0 14px;
  margin-top: 21px;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 770px) {
  .popup__button-saved {
    padding: 14px 0 14px;
    margin-top: 23px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__button-saved:hover {
  opacity: .8;
  cursor: pointer;
}
