.footer {
  display: flex;
  align-items: flex-start;
  margin: 0 200px 60px;
  max-width: 880px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1152px) {
  .footer{
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .footer{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 860px) {
  .footer{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 770px) {
  .footer{
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 36px;
    max-width: 282px;
  }
}
